@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

body {
  background: #060118;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

/* Header */
.navbar {
  background: #fff;
  left: 0;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.icon-menu {
  display: none;
}

.navbar-ul {
  list-style: none;
  text-align: right;
  width: 100%;
}

.home-el {
  border-top: 3px solid #ff0000;
  display: inline-block;
  transition: all 0.3s;
}

.navbar-ul li {
  display: inline-block;
}

.navbar-ul li a {
  color: #696969;
  display: inline-block;
  font-size: 80%;
  height: 100%;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.home-el-not {
  border: none;
}

.link-el-clicked {
  border-top: 3px solid #ff0000;
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 10px 30px;
    position: static;
    transition: all 0.3s;
    z-index: 0;
  }

  .icon-menu {
    background: url("./images/icon-menu.png") center/cover no-repeat;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
  }

  .navbar-ul {
    display: none;
  }

  .responsive {
    background: #fff;
    height: 100vh;
    left: 0;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 90%;
    z-index: 1000;
  }

  .responsive .navbar-ul {
    display: block;
    list-style: none;
  }

  .responsive .home-el {
    margin-top: 10px;
  }

  .responsive .home-el,
  .navbar-ul li {
    border: none;
    display: block;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
  }

  .responsive .navbar-ul .home-el a {
    color: #ff0000;
  }

  .responsive .navbar-ul li a {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .responsive {
    height: auto;
  }
}
/* End of Header */

/* Body prime */
.image-body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/background.jpg") center/cover no-repeat fixed;
  color: #fff;
  height: 100vh;
  padding: 200px 100px;
}

.image-body-icon-div {
  animation: imageBodyIconDiv 2s forwards 1;
}

@keyframes imageBodyIconDiv {
  from {
    opacity: 0;
    width: 20%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

.image-body-icon {
  display: inline-block;
  height: 24px;
  margin-right: 1%;
  width: 24px;
}

.imgbdy-fbk {
  background: url("./images/icon-facebook.png");
}

.imgbdy-inst {
  background: url("./images/icon-instagram.png");
}

.imgbdy-twit {
  background: url("./images/icon-twitter.png");
}

.imgbdy-wapp {
  background: url("./images/icon-whatsapp.png");
}

.image-body h2 {
  animation: portfolio-name 4s forwards 1;
  font-size: 300%;
  font-weight: 200;
  margin: 20px 0px;
}

@keyframes portfolio-name {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-body h1 {
  animation: designerBox 3s infinite alternate;
  animation-delay: 1.5s;
  border: 3px solid #a9a9a9;
  display: inline-block;
  font-size: 400%;
  font-weight: 200;
  padding: 10px 15px;
}

@keyframes designerBox {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(50px, 0);
  }

  75% {
    transform: translate(-50px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1300px) {
  .image-body {
    padding: 240px 30px;
  }

  .image-body h2 {
    font-size: 170%;
    margin: 20px 0px;
  }

  .image-body h1 {
    font-size: 270%;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .image-body {
    padding: 0px 30px;
    padding-top: 130px;
  }

  .image-body h2 {
    font-size: 200%;
  }

  .image-body h1 {
    font-size: 300%;
  }
}
/* End of Body prime */

/* Services */
.services-div {
  color: #fff;
  height: auto;
  opacity: 0;
  padding: 100px 0px;
  transition: all 1s;
  transform: translate(0, 70px);
  width: 100%;
}

.services-div-scrolled {
  opacity: 1;
  transform: translate(0, 0);
}

.services-div h1 {
  letter-spacing: 3px;
  margin-bottom: 100px;
  text-align: center;
  text-transform: capitalize;
}

.services-row {
  height: auto;
}

.services-column {
  float: left;
  padding: 0px 50px;
  width: 33.3%;
}

.services-logo {
  border-radius: 300px;
  height: 70px;
  margin-bottom: 30px;
  width: 70px;
}

.logo-html {
  background: url("./images/logo-html.png") center/cover no-repeat;
}

.logo-css {
  background: url("./images/logo-css.png") center/cover no-repeat;
}

.logo-uiux {
  background: url("./images/logo-uiux.png") center/cover no-repeat;
}

.services-card h2 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.services-card p {
  color: #a9a9a9;
  font-size: 90%;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.services-readmore-div {
  align-items: center;
  display: flex;
  height: 20px;
}

.services-readmore-div a {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 90%;
  margin-right: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.services-line {
  border: 1px solid #ff0000;
  display: inline-block;
  height: 0.5px;
  width: 10px;
}

@media screen and (max-width: 1300px) {
  .services-div {
    padding-bottom: 0;
  }

  .services-div h1 {
    margin-bottom: 50px;
  }

  .services-column {
    margin-bottom: 50px;
    padding: 0px 30px;
    width: 100%;
  }

  .services-card h2 {
    margin-bottom: 10px;
  }

  .services-card p {
    font-size: 80%;
  }

  .services-readmore-div a {
    font-size: 80%;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .services-column {
    padding: 0px 50px;
  }
}
/* End of Services */

/* About me */
.about-div {
  color: #fff;
  height: auto;
  opacity: 0;
  padding: 100px 0px;
  transition: all 1s;
  transform: translate(0, 70px);
  width: 100%;
}

.about-div-scrolled {
  opacity: 1;
  transform: translate(0, 0);
}

.about-div h1 {
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.about-sub-div {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  width: 100%;
}

.about-sub-div-one {
  background: url("./images/bkg-laptop.jpg") center/cover no-repeat fixed;
  border-radius: 3000px;
  height: 400px;
  width: 40%;
}

.about-sub-div-two {
  padding: 0px 50px;
  width: 60%;
}

.about-sub-div-two h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.about-brief-intro {
  color: #a9a9a9;
  font-size: 90%;
  letter-spacing: 1px;
  line-height: 1.5;
}

.about-table {
  border-spacing: 0px 20px;
  color: #f2f2f2;
  width: 100%;
}

.about-table span {
  color: #ff0000;
}

@media screen and (max-width: 1300px) {
  .about-div {
    padding: 50px 0px;
  }

  .about-div h1 {
    margin-bottom: 30px;
  }

  .about-sub-div {
    display: block;
    padding: 0px 30px;
    width: 100%;
  }

  .about-sub-div-one {
    height: 300px;
    width: 100%;
  }

  .about-sub-div-two {
    margin-top: 20px;
    padding: 0px;
    width: 100%;
  }

  .about-sub-div-two h2 {
    margin-bottom: 10px;
  }

  .about-brief-intro {
    font-size: 80%;
  }

  .about-table {
    font-size: 80%;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .about-sub-div {
    padding: 0px 50px;
  }

  .about-brief-intro {
    font-size: 90%;
  }

  .about-table {
    font-size: 90%;
  }
}
/* End of About me */

/* Skills */
.skills-div {
  color: #fff;
  height: auto;
  opacity: 0;
  padding: 100px 0px;
  transform: translate(0, 70px);
  transition: all 1s;
  width: 100%;
}

.skills-div-scrolled {
  opacity: 1;
  transform: translate(0, 0);
}

.skills-div h1 {
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.skills-sub-div {
  align-items: center;
  display: flex;
  padding: 0px 50px;
  justify-content: center;
}

.skill-sub-div-one {
  height: 300px;
  padding-right: 50px;
  width: 50%;
}

.skill-sub-div-one p {
  color: #a9a9a9;
  font-size: 90%;
  letter-spacing: 1px;
  line-height: 1.8;
}

.skills-paragraph-one {
  margin: 20px 0px;
}

.skills-sub-div-two {
  width: 50%;
}

.skills-name {
  margin-bottom: 10px;
}

.skills-line {
  background: #ff0000;
  height: 1px;
  margin-bottom: 40px;
  padding: 1px;
}

.html-skill-line {
  width: 70%;
}

.css-skill-line {
  width: 50%;
}

.uiux-skill-line {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .skills-div {
    padding: 50px 0px;
  }

  .skills-div h1 {
    margin-bottom: 30px;
  }

  .skills-sub-div {
    display: block;
    padding: 0px 30px;
  }

  .skill-sub-div-one {
    height: auto;
    padding-right: 0px;
    width: 100%;
  }

  .skills-sub-div-two {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .skills-sub-div {
    padding: 0px 50px;
  }
}
/* End of Skills */

/* Portfolio */
.portfolio-div {
  border: 1px solid;
  color: #fff;
  height: 100vh;
  opacity: 0;
  padding: 100px 0px;
  transform: translate(0, 70px);
  transition: all 1s;
  width: 100%;
}

.portfolio-div-scrolled {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio-div h1 {
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}
/* End of Portfolio */

/* Contact */
.contact-div {
  color: #fff;
  opacity: 0;
  padding-top: 100px;
  transform: translate(0, 70px);
  transition: all 1s;
  width: 100%;
}

.contact-div-scrolled {
  opacity: 1;
  transform: translate(0, 0);
}

.contact-div h1 {
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.contact-row {
  padding-left: 50px;
}

.contact-column {
  float: left;
  height: 100px;
  width: 25%;
}

.contact-card {
  height: 100%;
  width: 100%;
}

.contact-icon {
  height: 30px;
  width: 30px;
}

.icon-address {
  background: url("./images/icon-address.png") center/cover no-repeat;
}

.icon-phone {
  background: url("./images/icon-phone.png") center/cover no-repeat;
}

.icon-email {
  background: url("./images/icon-email.png") center/cover no-repeat;
}

.icon-chat {
  background: url("./images/icon-chat.png") center/cover no-repeat;
}

.contact-card p {
  color: #a9a9a9;
}

p.contact-name {
  color: #fff;
  margin: 20px 0px 10px 0px;
}

.contact-sub-div {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
}

.contact-sub-div-one {
  height: 100%;
  padding-left: 50px;
  width: 40%;
}

.contact-sub-div-one h2 {
  margin-bottom: 20px;
}

.connect-icon-div {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

.connect-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.connect-fbk {
  background: url("./images/icon-connect-facebook.png");
}

.connect-inst {
  background: url("./images/icon-connect-instagram.png");
}

.connect-twit {
  background: url("./images/icon-connect-twitter.png");
}

.connect-wapp {
  background: url("./images/icon-connect-whatsapp.png");
}

.connect-anchor {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  text-decoration: none;
}

.contact-sub-div-two {
  height: 100%;
  padding-right: 50px;
  width: 60%;
}

.contact-sub-div-two h2 {
  margin-bottom: 40px;
}

.contact-inline-div {
  display: inline-block;
  margin-bottom: 30px;
  width: 49.7%;
}

.contact-inline-div input,
.subject-div input {
  background: rgba(169, 169, 169, 0.1);
  border: none;
  color: #fff;
  margin-top: 5px;
  padding: 10px;
  transition: all 0.3s;
  width: 100%;
}

.contact-inline-div input:hover,
.subject-div input:hover {
  background: rgba(169, 169, 169, 0.2);
}

.textarea-div {
  margin-top: 30px;
}

#usertextarea {
  background: rgba(169, 169, 169, 0.1);
  border: none;
  color: #fff;
  height: 140px;
  margin-top: 5px;
  padding: 10px;
  transition: all 0.3s;
  width: 100%;
}
#usertextarea:hover {
  background: rgba(169, 169, 169, 0.2);
}

.button-div {
  margin-top: 30px;
  text-align: right;
  width: 100%;
}

.button-div button {
  background: rgba(255, 0, 0, 0.8);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  transition: all 0.3s;
}
.button-div button:hover {
  background: rgba(255, 0, 0, 0.5);
}

@media screen and (max-width: 1300px) {
  .contact-div {
    padding-top: 50px;
  }

  .contact-div h1 {
    margin-bottom: 30px;
  }

  .contact-row {
    padding-left: 0px;
  }

  .contact-column {
    height: auto;
    padding: 20px 30px;
    width: 100%;
  }

  p.contact-name {
    margin: 10px 0px;
  }

  .contact-sub-div {
    display: block;
    margin-top: 30px;
    padding-bottom: 50px;
  }

  .contact-sub-div-one {
    height: 100%;
    padding: 0px 30px;
    width: 100%;
  }

  .connect-icon-div {
    margin-bottom: 30px;
  }

  .contact-sub-div-two {
    height: auto;
    margin-top: 50px;
    padding: 0px 30px;
    width: 100%;
  }

  .contact-sub-div-two h2 {
    margin-bottom: 20px;
  }

  .contact-inline-div {
    width: 100%;
  }

  .button-div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .contact-column {
    padding: 20px 50px;
  }

  .contact-sub-div-one {
    padding: 0px 50px;
  }

  .contact-sub-div-two {
    padding: 0px 50px;
  }
}
/* End of Contact */
